URxvt.perl-lib: /home/lchsk/perl/
! Using XLFD (created via e.g. xfontsel)
! URxvt*font:           -misc-fixed-medium-r-semicondensed-*-12-90-100-*-c-60-iso8859-1
! Using Xft
! URxvt*font:           xft:Inconsolata:size=10
URxvt*font:           xft:Iosevka:size=11

!-*-{ Xft settings
Xft*dpi:       96
Xft*antialias: True
Xft*hinting:   Full
!-*-}

! URxvt.perl-ext-common: ...,keyboard-select
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-s: perl:keyboard-select:search


! Set the style of the scrollbar: rxvt (default), plain, next, xterm
URxvt.scrollstyle: rxvt
! To disable the scrollbar
URxvt.scrollBar: false
URxvt*saveLines: 9999

! The string will be interpreted as if typed into the shell as-is.
! In this example, printing will be disabled altogether.
URxvt.print-pipe: "cat > /dev/null"

!-*- Perl extensions -*-
URxvt.iso14755: False
URxvt.perl-ext-common:default,clipboard,matcher,keyboard-select,font-size
! URxvt.keysym.M-u:     perl:url-select:select_next
! URxvt.url-launcher:   /usr/bin/firefox
URxvt.underlineURLs:  True
! URxvt.matcher.button: 1 
! URxvt.keysym.M-Escape:perl:keyboard-select:activate
URxvt.keysym.Shift-Control-C:     perl:clipboard:copy
URxvt.keysym.Shift-Control-V:     perl:clipboard:paste
URxvt.keysym.M-C-v:   perl:clipboard:paste_escaped
URxvt.copyCommand:   xsel -ib
URxvt.pasteCommand:  xsel -ob

URxvt.clipboard.autocopy: true

*background: #0f0f0f
*foreground: #c8c8c8
 
!black
*color0:  #251f1f
*color8:  #5e5e5e
!red
*color1:  #eb4509
*color9:  #eb4509
!green
*color2:  #94e76b
*color10: #95e76b
!yellow
*color3:  #ffac18
*color11: #ffac18
!blue
*color4:  #46aede
*color12: #46aede
!magenta
*color5:  #e32c57
*color13: #e32c57
!cyan
*color6:  #d6dbac
*color14: #d6dbac
!white
*color7:  #efefef
*color15: #efefef



URxvt.keysym.Control-equal: font-size:increase
URxvt.keysym.Control-minus: font-size:decrease
! URxvt.keysym.C-S-equal:   font-size:incglobal
! URxvt.keysym.C-S-minus: font-size:decglobal
! URxvt.keysym.C-equal:  font-size:reset
! URxvt.keysym.C-slash:  font-size:show
