[Unit]
Description=Lock the screen on go to sleep

[Service]
User=lchsk
Environment=DISPLAY=:0
ExecStart=/home/lchsk/dotfiles/scripts/lock_and_sleep.sh

[Install]
WantedBy=sleep.target